{% import 'macros.html' as macro %}

<body>

   
    <h3>Sports sources</h3>
    <ul>{{ macro.displaySources(sports_sources) }}</ul>
    
    <h3>Business sources</h3>
    <ul>{{ macro.displaySources(business_sources) }}</ul>
    
    <h3>Technology sources</h3>
    <ul>{{ macro.displaySources(technology_sources) }}</ul>
    
    <h3>Science sources</h3>
    <ul>{{ macro.displaySources(science_sources) }}</ul>

    <h3>Entertainment Sources</h3>
    <ul>{{ macro.displaySources(general_sources) }}</ul>

    <h3>General Sources</h3>
    <ul>{{ macro.displaySources(general_sources) }}</ul>
    
    
</body>